header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .img-box{
    width: 200px;
    cursor: pointer;
}

ul{  
    display: flex;
    gap: 20px;
}

nav ul li:hover{
    background-color: rgba(252, 176, 255, 0.6);
    cursor: pointer;
}