.post-container{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
}

.post-item{
    text-decoration: none;
    color: lightsalmon;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-item:hover{
   color: chocolate;
}

.filter-post{
    all: unset;
    margin: 20px;
    width: 400px;
    height: 50px;
    border: 2px solid lightgreen;
    border-radius: 15px;
    text-align: left;
    padding-left: 15px;
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
}
.filter-post::placeholder{
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
}